/*-----Colors --------*/
$background-color: #000;
$font-color: #fff;
$footer-color: #c2c2c2;

/*----- Fonts --------*/
$fonts:	'open-sans', sans-serif;

/*----- Global resets --------*/
html {
	font-size: 16px;
}

img {
	width:100%;
	height: auto;
}

body {
	background-color:$background-color;
	color: $font-color;
	font-family: $fonts;

	.wrapper {
		width: 100%;
		height: auto;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
}

/*---- other resets -----*/
* {
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #fff;
}

p {
	font-family: $fonts;
	color: $font-color;
	font-style: none;
	text-align: center;
}
