/*---------- Header Styles ----------*/
.site-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height:85vh;
	padding: 10px;
	margin-top:-30px;

	.wrapper-logo {
		width: 360px;
		animation-duration: 6s;
		animation-name: bounceingUp;
		animation-timing-function: ease-in-out;

		.logo-img {
		  width: 60%;
		  height: auto;
		}
	}
}

/*--------- Search Form -------------*/
.search {
	font-size: .8rem;
	margin-left: 100px;
}

/*---------media queries for tablet --------*/
@include tablet {

.site-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-in-between;
	height: 85vh;
	padding: 10px;

	.wrapper-logo-selected {
		width: 25%;
	}

		.wrapper-logo {
			margin-left: -30px;
			margin-right: -140px;
			margin-top: 30px;

			.logo-img {
				width: 60%;
				height: auto;
			}
		}
	}
}

.search {
	margin-left: 200px;
	font-size: 1rem;
}


/*---------media queries 1024 px--------*/

@include desktop {

  .site-header {
    justify-content: flex-start;
    height: 90vh;
    padding: 0;

		.wrapper-logo-selected {
			width: 200px;
		}

		.wrapper-logo {
      margin-left: 0;
    }
  }

  .articale-list
	.inner {
    flex: 1 0 25%;
   	}
 	}
