

.containt {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
}

.site-header {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}


.reader {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  width: 1px;
}

.logo {
  margin-bottom: 1rem;
  text-align: center;
  display: block;
  width: 300px;
  transition: all .5s .5s ease-out;
}
